* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  color: #ffffff;
  font-family: 'Lobster', sans-serif;
}

h1 {
  padding: 5px;
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
  font-size: 24px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

button {
  width: 100px;
  margin: 5px;
  font-family: 'Lobster', sans-serif;
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 2px;
  color: #ffffff;
  background-color: #3d556e;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #4ecdc4;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 960px;
  height: 800px;
  margin: 0 auto;
  padding: 30px;
  background: linear-gradient(315deg, #ff6b6b, #e63946);
}

.grid-item {
  background-color: white;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

footer {
  width: 100%;
  padding: 20px;
}
