* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

button {
  width: 100px;
  margin: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid black;
  width: 1200px;
  height: auto;
  margin: 50px auto;
  background-color: red;
}

.container div {
  border: 1px solid;
  width: 16px;
  height: 16px;
  background-color: white;
}
